body, html {
    height: 100%;
}
#container {
    width: 100%;
    margin: 0 auto;
}
#left {
    text-align: left; 
    position:relative;
    top: calc(50% - 10px); /* 50% - 3/4 of icon height */
    float: left;
}

#right {
    text-align: right;
     position:relative;
    top: calc(50% - 10px); /* 50% - 3/4 of icon height */
    float: right;
}


#image1 {
    background-image: url('https://images.unsplash.com/photo-1471193945509-9ad0617afabf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d2b5c3a30ad1ec478df74c83536d47e3&auto=format&fit=crop&w=1950&q=80');
}
#image2 {
     background-image: url('https://images.unsplash.com/photo-1517102183434-58e6be84ba50?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=018a4e324736e31aa8ef3bab41da8e27&auto=format&fit=crop&w=1350&q=80');
}
#image3 {
     background-image: url('https://images.unsplash.com/photo-1501777814630-33bc4a3c3ee7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a34e4b943adee9b199111df9a23440e3&auto=format&fit=crop&w=1355&q=80');
}
#image4 {
     background-image: url('https://images.unsplash.com/photo-1508061253366-f7da158b6d46?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cd28504998646c55b722c9929569e521&auto=format&fit=crop&w=1350&q=80');
}