
<!--  carousel-slider -->
<div id="carousel" class="carousel carousel-slider center" data-indicators="true" materialize="carousel" [materializeActions]="carouselActions">
       <div class="carousel-fixed-item white-text" id="left">
      <div class="button1"> <a (click)="prev()">
        <i class="fa fa-arrow-left"></i>
        </a> </div>
    </div>
    <div class="carousel-fixed-item white-text" id="right">
         <div class="button2"> <a (click)="next()">
        <i class="fa fa-arrow-right"></i>
        </a> </div>
    </div>

    <div class="carousel-item red white-text" id="image1" href="#one!">
      <h2>Discover Recipes</h2>
       <p class="white-text">Browse what others have shared</p>
    </div>
    <div class="carousel-item amber white-text" id="image2" href="#two!">
      <h2>Create Your Own Recipes</h2>
      <p class="white-text">Customize your list of recipes</p>
    </div>
    <div class="carousel-item green white-text" id="image3" href="#three!">
      <h2>Create Your Personal Meal Plan</h2>
      <p class="white-text">Construct your plan for the week</p>
    </div>
    <div class="carousel-item blue white-text" id="image4" href="#four!">
      <h2>Make Shopping Easier</h2>
       <p class="white-text">Generate a shopping list based on your meal plan</p>
    </div>
</div>
