h2 {
  font-size: 16px;
}

button {
  color: white;
  background-color: #B8AEB8;
}

button:hover, button:focus {
  color: white;
  background-color: #807980;
}

#ingredient-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-width: 400px;
  max-width: 400px;
  width: 100%;
  background-color: #e0efef;
  border-radius: 5px;
  box-shadow: 5px 5px 20px #888888;
}

