h2 {
  font-size: 16px;
}

button {
  color: white;
  background-color: #B8AEB8;
}

#ingredient-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-width: 400px;
  max-width: 400px;
  width: 100%;
  border-radius: 5px;
}

