h2 {
  font-size: 16px;
  margin-left: 2px;
  padding-left: 2px;
}

button {
  padding: 2px;
  margin: 2px;
}

#ingredient-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}