
<ul class="list-unstyled" *ngIf="meal_plans.length > 0">
  <li class="card card-body mb-2" *ngFor="let meal_plan of meal_plans"> 
    <div class="container">
      <mat-card>
        <mat-card-content>
          <h1 class="mealtitle">{{meal_plan.name}}
            <small>
              <button class="delete float-right btn btn-dark btn-sm">Delete</button>
            </small>
          </h1>

          <mat-tab-group class="demo-tab-group" *ngIf="meal_plan.meal_days">

            <div *ngFor="let day of constants.mealPlanDays">

              <mat-tab class="text-capitalize" label="{{day}}">

                <div class="demo-tab-content">

                  <div class="meal" *ngFor="let meal of meal_plan.meal_days[day]">
                    <ul class="list-unstyled">                     
                      <li class="card card-body mb-2">
                        <h2 class="text-capitalize">{{meal.meal}}:
                          <small><button class="float-right btn btn-dark btn-sm">Remove</button></small>
                        </h2>
                        <app-recipe [recipe]="meal.recipe"></app-recipe>
                      </li>        
                    </ul>
                  </div>

                  <a [routerLink]="['/create']"><button class="btn btn-light btn-block mb-3">
                      Add Meal
                  </button></a>

                </div>

              </mat-tab>
            </div>

          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>
  </li>

</ul>