<div layout="vertical">
    <mat-sidenav-container fullscreen>
      <mat-sidenav #snav mode="side" opened="true" class="shopping-list-sidenav">      
    
        <h1 class="text-left dark-heading">Shopping Lists</h1>
        <mat-divider></mat-divider>

        <mat-nav-list>
          <ng-container *ngFor="let shopping_list of shopping_lists">
            <div class="heading">
           <mat-list-item (click)="selectShoppingList(shopping_list)" role="listitem" >
              {{shopping_list.name}}
            </mat-list-item>
          </div>
          </ng-container>
        </mat-nav-list>

        <div id="button-container">
          <button (click)="activateCreateDialog()" mat-button  float-right cdkFocusInitial class="btn btn-light btn-block mb-3">Create New</button>
        </div>

      </mat-sidenav>

      <mat-sidenav-content class="meal-plan-content">

      <div *ngIf="selected_sl">
        <mat-card class="shopping-list-card">
          <mat-card-content>
    
            <div id="listname">
              <div>
                <h1 class="heading" id="sl-name">{{selected_sl.name}}</h1>
                <h2 class="subheading" id="sl-meal_plan">Created from Meal Plan: {{selected_sl.meal_plan.name}}</h2>
              </div>
              <small>
                <button (click)="deleteShoppingList(selected_sl)" class="delete float-right btn btn-dark btn-sm">Delete</button>
              </small>        
            </div>

            <ul class="list-unstyled">
              <div *ngFor="let listitem of selected_sl.ingredient_shopping_lists_attributes">
                <li id="sl-item-card" class="card card=body mb=2">
                  <app-shoppinglist-item [list_item]="listitem" 
                                         [background_color]="setPurchasedColor(listitem)"
                                         (purchasedEvent)="this.setItemPurchased($event)"
                                         (amountAdjustedEvent)="this.setItemAmount($event)"
                                         (itemRemovedEvent)="this.removeItem($event)">
                  </app-shoppinglist-item>
                </li>
              </div>
            </ul>
            
            <mat-divider></mat-divider>
            <button (click)="activateAddItemDialog()" class="btn btn-light btn-block mb-3">Add New Item</button>

          </mat-card-content>
        </mat-card>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
