<h1 mat-dialog-title>Add a Ingredient for {{ data.recipe.title || 'Recipe' }}</h1>
<div mat-dialog-content>
    <div>
      <form novalidate id="ri-update-form" (ngSubmit)="this.onSubmit(recipe_ingredient)" [formGroup]="recipe_ingredient">
        <mat-form-field class="full-width">
            <input matInput #amount formControlName="amount" maxlength="5" placeholder="Choose an Amount" [value]>
            <mat-hint align="end">Please enter fractions as decimals.
            </mat-hint>
          </mat-form-field>

        <mat-form-field class="full-width">
            <input placeholder="Choose a Measure" matInput [matAutocomplete]="automeasure" formControlName="measure">
            <mat-autocomplete #automeasure="matAutocomplete" [displayWith]="displayMeasures">
              <mat-option *ngFor="let measure of filteredMeasures | async" [value]="measure">{{ measure.name | titleCase }}</mat-option>
            </mat-autocomplete>
          </mat-form-field>

        <mat-form-field class="full-width">
          <input placeholder="Choose an Ingredient" matInput [matAutocomplete]="autoingredient" formControlName="ingredient">
          <mat-autocomplete #autoingredient="matAutocomplete" [displayWith]="displayIngredients">
            <mat-option *ngFor="let ingredient of filteredIngredients | async" [value]="ingredient">{{ ingredient.name | titleCase }}</mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </form>
    </div>

    <button mat-button (click)="onClose()">Cancel</button>
    <button [disabled]="recipe_ingredient.invalid" form="ri-update-form" mat-button cdkFocusInitial>Add</button>

</div>
