<h2> Welcome to Nourish!</h2>


<div class="container1" id="container1">
    <div id="left">
        <p> Add Recipe </p>
         <a routerLink="/create"><img src="https://images.pexels.com/photos/277253/pexels-photo-277253.jpeg?cs=srgb&dl=anise-aroma-art-277253.jpg&fm=jpg" width="200" height="100" title="calendar" alt="calendar"></a>
    </div>
     <div id="right">
         <p> Browse Recipes</p>
         <a routerLink="/browse"><img src="https://images.pexels.com/photos/48126/books-education-school-literature-48126.jpeg?cs=srgb&dl=book-stack-books-education-48126.jpg&fm=jpg" width="200" height="100" title="calendar" alt="calendar"></a>
    </div>
    <div id="center">
         <p> My Recipes </p>
         <a routerLink="/myrecipes"><img src=" https://images.pexels.com/photos/796603/pexels-photo-796603.jpeg?cs=srgb&dl=ballpen-book-bindings-business-796603.jpg&fm=jpg" width="200" height="100" title="calendar" alt="calendar"></a>

    </div>
</div>
<div class="container2" id="container2">
    <div id="left2">
        <p> View Calendar </p>
        <a routerLink="/home"><img src="https://images.pexels.com/photos/862731/pexels-photo-862731.jpeg?cs=srgb&dl=calendar-close-up-dates-862731.jpg&fm=jpg" width="200" height="100" title="calendar" alt="calendar"></a>
    </div>
     <div id="right2">
         <p> Meal Plan</p>
          <a routerLink="/home"><img src="https://images.pexels.com/photos/58457/pexels-photo-58457.jpeg?cs=srgb&dl=arm-desk-hand-58457.jpg&fm=jpg" width="200" height="100" title="calendar" alt="calendar"></a>
    </div>
    <div id="center2">
         <p> Shopping List</p>
         <a routerLink="/home"><img src=" https://images.pexels.com/photos/3243/pen-calendar-to-do-checklist.jpg?cs=srgb&dl=calendar-checklist-list-3243.jpg&fm=jpg" width="200" height="100" title="calendar" alt="calendar"></a>
        
    </div>
</div>