#amount-display {
    display:flex;
    flex-direction: row;
    align-items: center;
}

#amount-measure {
    margin-left: 5px;
    padding-left: 3px;
}

button {
    background-color: #B8AEB8;
}

button:hover, button:focus {
    background-color: #807980;
}