 <div *ngIf="recipe">
	<h1> {{recipe.title | titleCase}}
		<small><button (click)="hide = !hide" class="float-right btn btn-dark btn-sm"> <i [ngClass]="hide ? 'fa fa-plus' : 'fa fa-minus'"></i></button></small>
	</h1>

	<ul class="borderless list-group" *ngIf="!hide"> 
		<div class="recipe-card">
			<h2>Summary:</h2>
				
				<li class="list-group-item">{{recipe.summary}}</li>
					
				<ul class="borderless list-group" *ngIf="recipe.ingredient_recipes">
					<h2>Ingredients:</h2>
					<li class="list-group-item" *ngFor="let item of recipe.ingredient_recipes"> {{item.amount}} {{item.measure.name}} {{item.ingredient.name | titleCase}} </li>
				</ul>
		
				<h2>Instructions:</h2>
				<li class="list-group-item"> {{recipe.instructions}}</li> 
			</div>
		</ul>
	

</div>
