<!--Navigation-->
<div class="navbar-fixed">


  <nav  role="navigation">
    
    <div class="nav-wrapper ">
      <a [routerLink]="['']" id="logo-container" class="brand-logo">Nourish</a>

      <ul class="right hide-on-med-and-down">

        <li *ngIf="!(authService.userSignedIn$ | async)"> <a (click)="presentAuthDialog()" >LOGIN</a></li>
        <li *ngIf="!(authService.userSignedIn$ | async)"> <a (click)="presentAuthDialog('register')">REGISTER</a></li>

        <li *ngIf="(authService.userSignedIn$ | async)"><a [routerLink]="['/profile']">PROFILE</a></li>
        <li *ngIf="(authService.userSignedIn$ | async)">
        <button mat-button [matMenuTriggerFor]="menu">RECIPES</button>
          <mat-menu #menu="matMenu">
          <button mat-menu-item><a [routerLink]="['/browse']">BROWSE</a></button>
          <button mat-menu-item><a [routerLink]="['/myrecipes']">MY RECIPES</a></button>
          <button mat-menu-item><a [routerLink]="['/create']">ADD RECIPE</a></button>
        </mat-menu>
        </li>
        <li *ngIf="(authService.userSignedIn$ | async)">
        <button mat-button [matMenuTriggerFor]="menu">MEAL PLANNING</button>
          <mat-menu #menu="matMenu">
          <button mat-menu-item><a [routerLink]="['/mealplan']">MY MEAL PLAN</a></button>
          <button mat-menu-item><a [routerLink]="['/list']">MY SHOPPING LISTS</a></button>
        </mat-menu>
        </li>
  

        <li *ngIf="(authService.userSignedIn$ | async)"><a (click)="logOut()">LOGOUT</a></li>
      

      </ul>

    </div>

  </nav>

</div>

<app-auth-dialog #authDialog ></app-auth-dialog>

