h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
    margin-left: 5px;
    padding-left: 5px;
}

button {
    padding: 5px;
    margin: 5px;
    color: white;
    background-color: #B8AEB8;
}

button:hover, button:focus {
    color: white;
    background-color: #807980;
}

#list-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}