/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";


button {
  background-color: #B8AEB8;
}

button:hover, button:focus {
  background-color: #807980;
}

.heading {
  color: #99CCCC;
  /* color: #242A33; */
}

.dark-heading {
  color: #6b8e8e;
}