<div class="container">

    <div class="margin-20">
      <h4 class="heading">Create A Recipe</h4>
    </div>

    <form [formGroup]="recipeForm" id="new-recipe-form" class="recipe-form-container" (ngSubmit)="onSubmit()">

      <div>
        <mat-form-field class="full-width">
          <input matInput placeholder="Recipe Name" matInput formControlName="title">
          <mat-error>
            required field
          </mat-error>
        </mat-form-field>
      </div>
    
      <div>
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Summary" formControlName="summary"></textarea>
          <mat-error>
            required field
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Instructions" formControlName="instructions"></textarea>
          <mat-error>
            required field
          </mat-error>
        </mat-form-field>
      </div>
    
      <div id="bottom-form-block">
        <mat-form-field class="half-width">
          <mat-select placeholder="Dietary Restrictions" formControlName="dietary_restrictions" multiple>
            <mat-option *ngFor="let restriction of restrictions" [value]="restriction">{{restriction.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="half-width">
          <input matInput type="number" placeholder="Servings" matInput formControlName="servings">
          <mat-error>
            required field
          </mat-error>
        </mat-form-field>
      </div>

    </form>

    <div *ngIf="this.recipe.ingredient_recipes_attributes.length > 0">
      <h4 class="heading">Ingredients</h4>
      <mat-divider></mat-divider>
    </div>

    <div>
        <ul class="list-unstyled">
          <li id="recipe-ingredient-card" class="card card=body mb=2">
            <div *ngFor="let item of this.recipe.ingredient_recipes_attributes">
              <app-ingredient [ingredient_recipe]=item (removedEvent)="this.removeIngredientRecipe($event)"></app-ingredient>
            </div>
          </li>
        </ul>
    </div>

    <h4 class="heading">Add Ingredients</h4>

    <div id="add-ingredients">

      <form [formGroup]="addIngredientForm" id="addingredientform" class="recipe-form-container" (ngSubmit)="addIngredientRecipe(addIngredientForm, formDirective)" #formDirective="ngForm">
        
        <div id="ingrediententry">

          <div>
            <mat-form-field>
              <input class="ingredient-input" matInput placeholder="Amount" type="number" matInput formControlName="amount">
              <mat-error>
                required field
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input class="ingredient-input" placeholder="Unit of Measure" matInput [matAutocomplete]="automeasure" formControlName="measure">
              <mat-autocomplete #automeasure="matAutocomplete" [displayWith]="displayMeasure">
                <mat-option *ngFor="let measure of filteredMeasures | async" [value]="measure">{{ measure.name }}</mat-option>
              </mat-autocomplete>
              <mat-error>
                required field
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input class="ingredient-input" placeholder="Ingredient" matInput [matAutocomplete]="autoingredient" formControlName="ingredient">
              <mat-autocomplete #autoingredient="matAutocomplete" [displayWith]="displayIngredient">
                <mat-option *ngFor="let ingredient of filteredIngredients | async" [value]="ingredient">{{ ingredient.name | titleCase }}</mat-option>
              </mat-autocomplete>
              <mat-error>
                required field
              </mat-error>
            </mat-form-field>
          </div>

        </div>

      </form>

      <div>
          <button [disabled]="addIngredientForm.invalid"
            class="btn btn-light btn-block mb-3"
            form="addingredientform"
            mat-button>
            Add Ingredient
          </button>
      </div>

      <mat-divider></mat-divider>

      <div id="submit-button-container">
          <button 
            class="btn btn-light btn-block mb-3"
            [disabled]="recipeForm.invalid || this.recipe.ingredient_recipes_attributes.length < 1" 
            form="new-recipe-form" 
            mat-button 
            cdkFocusInitial>
            Create
          </button>
      </div>

    </div>

</div>