.container {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	border-style: solid;
    border-width: 5px;
}

div.input {
	position: relative;
}

div.input label {
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	left: 10px;
	background: white;
	padding: 5px 2px;
}

div.input input {
	padding: 10px 20px;
	font-size: 25px;
	outline: 0;
}

div.input {
	margin-top: 20px;
}

header {
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
	border-bottom: 2px solid #eee;
}

button {
	color: white;
	background-color: #B8AEB8;
}

button:hover, button:focus {
	color: white;
	background-color: #807980;
}