<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="margin-20">
        <h4 class="heading">Add Recipe</h4>
      </div>
      <form [formGroup]="recipeForm" id="new-recipe-form" novalidate (ngSubmit)="onSubmit">
        <div>
          <mat-form-field class="full-width">
            <input matInput placeholder="Recipe Name" matInput formControlName="title">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Summary" formControlName="summary"></textarea>
          </mat-form-field>
        </div>
        <div>
        <mat-form-field class="full-width">
            <input matInput placeholder="Servings" matInput formControlName="servings">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width">
            <mat-select placeholder="Dietary Restrictions" [formControl]="recipe.dietary_restriction_recipes_attributes" multiple>
              <mat-option *ngFor="let restriction of restrictions" [value]="restrictions">{{restriction.id}} {{ restriction.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
<!--    
          <ul>
              <li *ngFor="let ri of recipeForm.ingredient_recipes_attributes">
                {{ ri.amount }} 
                {{ ri.measure.name }} 
                {{ ri.ingredient.name }}
              </li>
            </ul>
-->
            <button (click)="openDialog(recipe)" class="btn btn-light btn-block mb-3">Add Ingredient</button>
        </div>
        <div>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Instructions" matInput formControlName="instructions"></textarea>
          </mat-form-field>
        </div>
        <div class="margin-20">
          <button click="fireEvent($event)" type="submit" class="btn btn-primary pull-right" [disabled]="!recipeForm.valid">Submit</button>
        </div>
        <div class="clearfix"></div>

     <!--- Log the FormGroup values to see if the binding is working -->
    <p>Form value {{ recipeForm.value | json }} </p>
    <p> Form status {{ recipeForm.status | json}} </p>
      </form>
    </div>
  </div>
</div>