<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="margin-20">
        <h4>Add Recipe</h4>
      </div>
      <form [formGroup]="recipeForm" id="new-recipe-form" novalidate (ngSubmit)="save(recipeForm['name'])">
        <mat-form-field class="full-width">
          <input matInput placeholder="Recipe Name" matInput formControlName="title">
        </mat-form-field>
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Summary" formControlName="summary"></textarea>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-select placeholder="Dietary Restrictions" [formControl]="recipe.dietary_restriction_recipes" multiple>
            <mat-option *ngFor="let restriction of restrictions" [value]="restrictions">{{restriction.id}} {{ restriction.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="margin-20">
          <button click="fireEvent($event)" type="submit" class="btn btn-primary pull-right" [disabled]="!recipeForm.valid">Submit</button>
        </div>
        <div class="clearfix"></div>

     
      </form>
    </div>
  </div>
</div>