<h2> My Recipes</h2>
<button [disabled]="!enableAdd" class="btn btn-light btn-block mb-3"> 
Add New Recipe
</button>
<ul class="list-unstyled" *ngIf="recipes?.length > 0">
    <li class="card card-body mb-2" *ngFor="let recipe of recipes"> 
    <h4> {{recipe.recipeName}}
    <small> <button (click)="recipe.hide = !recipe.hide" class="btn btn-dark btn-sm"> <i [ngClass]="recipe.hide ? 'fa fa-plus' : 'fa fa-minus'"></i></button></small>
    </h4>
        <ul class="list-group"  *ngIf="!recipe.hide"> 
	        <li class="list-group-item"> {{recipe.ingredients}}</li>
	        <li class="list-group-item"> {{recipe.steps}}</li> 
        </ul>
    </li>
</ul>

<h4 *ngIf="recipes.length == 0"> No recipes to display!</h4>

